- name: Deploy Scientific Calculator
  hosts: localhost
  connection: local
  gather_facts: yes

  tasks:
    - name: Pull latest Docker image
      shell: docker pull andy3104/scientific-calculator:latest

    - name: Stop existing container (if any)
      shell: docker stop calculator || true

    - name: Remove old container (if any)
      shell: docker rm calculator || true

    - name: Run new container (keep alive)
      shell: docker run -d --name calculator -p 5000:5000 andy3104/scientific-calculator:latest tail -f /dev/null
